#{extends 'main.html' /} #{set 'center'}
#{set 'moreMetadata'}
  <title>${cmsBean.getString('metatitle')}${cmsBean.containsKey('metatitle')?' | ':''} &{'page.title'}</title>
  <meta name="description" content="${cmsBean.getString('metadescription')}">
#{/set}
 #{if cmsBean !=null} 
  #{list items:cmsBean.getEntryList("cmsFragments") , as:'elem'}
    <div class="row ">
	   #{if elem.getAsset('image') == null}
	     <div class="col-md-12">
		    #{if !(elem.getString('title') == "")}
		       <span class="sectionTitle">${elem.getString('title').raw()}</span><br/><br />
		    #{/if} 
		    <p  align="justify">${elem.getString('content').raw()}</p><br />
	     </div>
	#{/if} 
	#{else}
    <div class="col-md-7">
		  #{if !(elem.getString('title') == "")}
		       <span class="sectionTitle">${elem.getString('title').raw()}</span><br/><br /> 
		  #{/if}
		  <p  align="justify">${elem.getString('content').raw()} </p><br />
	  </div>
	  <div class="col-md-5" style="vertical-align: bottom;">
		 <img src="${elem.getAsset('image')?.getUrl()}" alt="${elem.getAsset('image')?.getFields()?.get('title')}" style="${elem.getAsset('image')?.getFields()?.get('description')}" />
	</div>
#{/else}
</div>
<div class="row ">
     #{if !(elem.getAsset('footerimage') == null)}
        <img src="${elem.getAsset('footerimage')?.getUrl()}" alt="${elem.getAsset('footerimage')?.getFields()?.get('title')}" style="${elem.getAsset('footerimage')?.getFields()?.get('description')}" />
     #{/if}
   </div>
<br/><br/>
#{/list}
#{/if}
 #{/set}
