<nav class=" ">
<div class="">

    <!-- Collect the nav links, forms, and other content for toggling -->
     <div class="navbar-collapse  " id="bs-example-navbar-collapse-1">
       <ul class="nav navbar-nav">
         #{if _cmsBean !=null}
           #{list items:_cmsBean.getEntry("navigation").getEntryList("subelements")  , as:'mainCat'}
                              <li ><a href="#{cmsLink navElement:mainCat /}">${mainCat.getString("title")} </a>
              
            #{/list}
      </ul>
   </div><!-- /.navbar-collapse -->
 </div>
</nav>
#{/if}