<!DOCTYPE html>
<html lang="de">
<head>
#{get 'moreMetadata' /}
<meta charset="${_response_encoding}">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link
	href='http://fonts.googleapis.com/css?family=Merriweather:400italic'
	rel='stylesheet' type='text/css'>
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/bootstrap-theme.css'}">
<link rel="stylesheet" media="screen"
	href="@{'/public/stylesheets/main.css'}">
#{get 'moreStyles' /}
<link rel="shortcut icon" type="image/png"
	href="@{'/public/images/favicon.png'}">
<script src="@{'/public/javascripts/jquery-1.11.2.min.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
<script src="@{'/public/javascripts/bootstrap.js'}"
	type="text/javascript" charset="${_response_encoding}"></script>
#{get 'moreScripts' /}
</head>
<body>
	<div class="container globalContainer" style="width:900px">
		<div class="row header-box top-background ">#{topNav cmsBean:cmsBean/}</div>
		<hr/>
		<div class="centerContainer">#{get 'center' /}</div>
		<hr>

	</div>
</body>
</html>
